h1 {
    color: greenyellow;
  }
img {
    width: 400px;
  }
#thirdDiv {
    height: 600px; 
    width: 500px;
    background-color: coral;
    padding: 50px;
    border: 5px solid black;
  }    
#spanId {
    font-size: 18px; 
    margin: 50px;
  }
div{
    text-align: center;
}
body {
    background-image: url("https://cdn.pixabay.com/photo/2015/06/08/14/47/white-columns-801715__340.jpg")
}